.container {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    align-items: center;
    justify-content: center;
    /* Have space between the edges and top of page */
    padding: 5rem;
    font-family: "Roboto", sans-serif;
    gap: 50px;
  }
  /* ======================================================== */

.card{
    width: auto;
    height: 400px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

.card-img-top{
    width: auto;
    height: 280px;
    object-fit: cover;

 
    transition: 0.5s;
}