.title{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 50px;
    text-align: center;
}

.photo{
    width: 50%;
    height: 50%;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 25%;
    margin-right: 25%;

}

.text{
    font-size: 20px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 50px;
    text-align: center;
}